.bottom-menu{
    animation: bottomcards 5s;
    animation-delay: 2.5s;
    transition: bottom 2s;
    animation-fill-mode: forwards;
    left: 1rem;
    width: 400px;
    height: 20vh;
    @keyframes bottomcards {
      0%{
        left: 30rem;
      }
      50%{
        left: 30rem;
      }
      80%{
         left: -1rem;
      }
      100%{
        left: 0rem;
      }
    }


    .bottom-list{
        display: flex!important;
        flex-direction: row!important;
        overflow-y: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
      }
    }
    .btn-item{
        margin-left: 1.5rem;
        border: 0;
        border-radius: 5px;
        background: $bottom-bg;
        height: 6rem;
        max-height: 6rem;
        width: 6rem;
        max-width: 6rem;
        box-shadow: 1px 1px 5px -6px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        >p{
            color: white;
            text-align: left;
            font-size: 0.75rem;
            font-family: $font-secondary;
            line-height: 1rem;
        }
        >.btn-icon{
          width: auto;
          height: auto;
          max-width: 25px;
          max-height: 25px;
          position: relative;
          top: 0.5rem;
          left: 0.3rem;
        }
    }
}

.hide2{
  bottom: -65vh;
}



