.main-cards{
    position: absolute;
    right: 0rem;
    bottom: 3rem;
    transition: bottom 2s;

    .big-card1{
        background-color: $card-bg;
        width: 23rem!important;
        height: 20rem;
        border-radius: 2px;
        position: absolute;
        right: 18rem;
        top: -11rem;
        overflow: hidden;
    
        .credit-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            top: 1rem;
            left: 1rem;
            >.card{
                font-size: 2rem;
                color: lightgray;
            }
            p{
                margin-left: 1rem;
                font-family: $font-secondary;
            }
        }

        .invoice{
            position: relative;
            top: 4rem;
            right: 7rem;
            >.recent-invoice{
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: bold;
                color: deepskyblue;
                margin-bottom: 0.5rem;
                font-family: $font-secondary;
            }
            >.invoice-value{
                font-size: 2rem;
                color: deepskyblue;
                margin-bottom: 0.5rem;
                font-family: $font-secondary;
                >b{
                    font-weight: bold;
                }
            }
            
            >.invoice-limit{
                font-size: 0.9rem;
                position: relative;
                left: 2rem;
                >b{
                    font-weight: 800;
                    color: $money;
                }
            }
        }

        .invoice-news{
            background-color: $card-bottom;
            width: 23rem;
            height: 5.5rem;
            display: block;
            border-radius: 2px;
            position: relative;
            top: 9rem;
            
            >.invoice-msg{
                position: relative;
                top: 2rem;
                color: gray;
                left: 2rem;
                font-size: 0.9rem;
                line-height: 1rem;
                text-align: left;
            }
        }

        .invoice-green{
            background-color: $money;
            width: 0.5rem;
            height: 15.7rem;
            display: block;
            border-radius: 2px;
            position: relative;
            bottom: 12.2rem;
            left: 22.5rem;
        }

    }

    .big-card2{
        background-color: $card-bg;
        width: 23rem!important;
        height: 20rem;
        border-radius: 2px;
        position: absolute;
        right: 18rem;
        top: -11rem;
        
        .nu-account{
            position: absolute;
            left: 4rem;
            color: gray;
        }
    
        .money-icon{
            font-size: 2rem;
            color: lightgray;
            position: relative;
            top: 1rem;
            right: 9rem;
        }

        .card-value{
            display: block;
            position: relative;
            top: 5rem;
            right: 5rem;

            >.avaiable-balance{
                color: gray;
                position: absolute;
                left: 6.2rem;
                bottom: 5rem;            
            }

            >.balance{
                font-size: 2rem;
                color: $text-card;
                font-weight: normal;
                background-color: transparent;
                font-family: $font-secondary;
                transition: background-color 1s ease-in-out;
                >b{
                    font-weight: bold;
                }
            }

            >.yield{
                font-family: $font-secondary;
                margin-top: 0.5rem;
                font-size: 0.8rem;
                font-weight: 400;
                color: $text-card;
                position: relative;
                left: 1rem;
                >b{
                    font-weight: 800;
                    color: $money;
                }
            }
            .balance-control{
                position: relative;
                left: 14rem;
                color: lightgray;
                font-size: 2rem;
                bottom: 9rem;
            }
        }

        .account-news{
            background-color: $card-bottom;
            width: 23rem;
            height: 5.5rem;
            display: block;
            border-radius: 2px;
            position: relative;
            top: 8rem;

            .card-value-bottom{
                display: block;
                position: relative;
                left: 4rem;
                bottom: 1rem;
                .news-description{
                    font-size: 0.9rem;
                    color: gray;
                    line-height: 1rem;
                    text-align: left;
                }
            }
        }

    }

    .big-card3{
        background-color: $card-bg;
        width: 23rem!important;
        height: 20rem;
        border-radius: 2px;
        position: absolute;
        right: 18rem;
        top: -11rem;

        .rewards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: inherit;

            >.gift{
                position: relative;
                bottom: 1rem;
                font-size: 3rem;
                color: lightgray;
            }

            >.rewards-title{
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

            >.rewards-desc{
                margin-top: 1rem;
                text-align: center;
            }

            >.rewards-btn{
                margin-top: 4rem;
                padding: 1rem 3rem;
                border: 1px solid purple;
                background: transparent;
                font-weight: 800;
                color: purple;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-family: $font-secondary;
                border-radius: 2px;
            }
        }
    }
}

.hide{
    bottom: -65vh;
}