.main-menu{
    min-width: 100%;
    animation: mymove 5s;
    animation-fill-mode: forwards;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: 10rem;
    >.logo-name{
        color: white;
        font-size: 2rem;
    }
    >.nu-name{
        width: 5rem;
        height: 4rem;
        margin-right: 0.5rem;
        position: relative;
        bottom: 1rem;
    }


}

