.gallery{
    .controls{
        position: relative;
        display: flex;
        justify-content: center;
    }

    .control-button {
        font-size: 2em;
    }

    .item{
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        overflow: visible!important;
        background: transparent;
        width: auto;
        height: auto;
        width: 100%!important;
    }
}

