.main-cards{
    .tns-ovh {
        overflow: visible!important;
        position: relative;
        left: 23rem;
        display: flex;
        justify-content: space-between;
    }
    
    .tns-outer{
        width: 100%;
    }
    
    .tns-visually-hidden {
        position: relative;
        left: 0;
        display: none;
    }
    
    .tns-nav{
        display: flex;
        justify-content: center;
        >button{
            transform: scale(0.7);
            height: 12px;
            width: 12px;
            padding: 0;
            border: 0;
            border-radius: 100%;
            background-color: #fff;
            &:not(:last-child){
            margin-right: 0.875rem;
            }
        }
    }
}

.view-1{
    .tns-outer{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(var(--vh, 1vh) * 39);
        margin: 0 5%;
        .tns-nav{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
        }
    }
    .tns-nav{
        display: flex;
        justify-content: center;
        >button{
            transform: scale(0.7);
            height: 12px;
            width: 12px;
            padding: 0;
            border: 0;
            border-radius: 100%;
            background-color: lightgray;
            &:not(:last-child){
            margin-right: 0.875rem;
            }
        }
    }
}


