.logo{
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    animation: fade-in 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    @keyframes fade-in {
        0%{
            opacity: 1.0;
        }
        100%{
            opacity: 0.0;
        }
    }

    .splash-nu{
        transform:scale(0.8);
        animation: splash 4s;
        animation-fill-mode: forwards;

            @keyframes splash {
                0% {
                    transform:scale(0.8);
                }
                40%{
                    transform:scale(0.4);
                }
                60%{
                    transform:scale(0.4);
                }
                95%{
                    transform:scale(0.4);
                }
                100%{
                    transform:scale(0.4);
                }
            }
        }
    }
