.logo{
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    left: 0;
    //background-color: red;
    animation: slide-left 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    @keyframes slide-left {
        0%{
            left: 0;
        }
        100%{
            left: -27rem;
        }
    }

    .splash-nu{
        transform:scale(0.8);
        animation: splash 5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;

            @keyframes splash {
                0% {
                    transform:scale(0.8);
                }
                40%{
                    transform:scale(0.4);
                }
                60%{
                    transform:scale(0.4);
                }
                95%{
                    transform:scale(0.4);
                }
                100%{
                    transform:scale(0.4);
                }
            }
        }
    }
