.logo{
    display: block;
    margin: auto;
    .splash-nu{
        position: relative;
        left: 6rem;
        transform:scale(0.8);
        animation: splash 5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;

            @keyframes splash {
                0% {
                    transform:scale(0.8);
                    left: 6rem;
                }
                40%{
                    transform:scale(0.4);
                    left: 6rem;  
                }
                60%{
                    transform:scale(0.4); 
                    left: 6rem; 
                }
                95%{
                    transform:scale(0.4);
                    left: -15rem; 
                }
                100%{
                    transform:scale(0.4);
                    left: -15rem; 
                }
            }
        }
    }



// .logo{
//     // background-image: url('../images/nu-name.png');
//     // background-repeat: no-repeat;
//     min-width: 10rem;
//     background-position: center;
//     display: block;
//     animation: splash 5s;
//     animation-fill-mode: forwards;
//     position: relative;

//     @keyframes splash {
//         0% { 
//             right: 0;
//             opacity: 0.5; 
//         }
//         25%{
//             opacity: 1;
//             right: 0; 
//         }
//         50%{
//             opacity: 1;
//             right: 0; 
//         }
//         75%{
//             opacity: 1;
//             right: 0; 
//         }
//         100%{
//             opacity: 1;
//             right: 0; 
//         }
//       }
// }