@media screen and (max-width: 991px) {
    .mobile{
        width: 100%!important;
        height: calc(var(--vh, 1vh) * 100)!important;
        background-color: $default-color;
        display: flex;
    }
}