// Imports
@import 'reset';
@import 'colors';
@import 'fonts';

// Telas
@import 'screens/splash';
@import 'screens/mainmenu';
@import 'screens/bottommenu';
@import 'screens/loginscreen';

// Opções do Menu
@import 'options/blockcard';
@import 'options/orderoption';
@import 'options/balance';


// Widgets
@import 'screens/maincards';
@import 'screens/slickbigcards';


// Views
@import 'views/invoiceview';
@import 'views/balanceview';


// Media Query
@import 'mediaquery';

// Background and Phone
*{
    &:focus{
        outline:none;
    }
}

 
body{
    font-family: $font-default;
    font-weight: 100;
}

.background{
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.screen{
    width: 30%;
    height: 95vh;
    background-color: $default-color;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.screen-block{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}


.btn-img{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px; 
}

.btn-card{
    width: auto;
    height: auto;
    max-width: 26px;
    max-height: 26px;
}

