// Imports
@import 'reset';
@import 'colors';
@import 'fonts';

// Telas
@import 'screens/splash';
@import 'screens/mainmenu';
@import 'screens/bottommenu';
@import 'screens/loginscreen';

// Opções do Menu
@import 'options/blockcard';
@import 'options/orderoption';
@import 'options/balance';


// Widgets
@import 'screens/maincards';
@import 'screens/slickbigcards';


// Views
@import 'views/invoiceview';
@import 'views/balanceview';
@import 'views/rewardsview';


// Media Query
@import 'mediaquery';

// Background and Phone
*{
    &:focus{
        outline:none;
    }
}

 
body{
    font-family: $font-default;
    font-weight: 100;
    display: flex;
    background-color: $background-color;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

.mobile{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.container-app {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    background: $default-color;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 100%;
    }
  }

.btn-img{
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px; 
}

.btn-card{
    width: auto;
    height: auto;
    max-width: 26px;
    max-height: 26px;
}

.d-none1{
    display: none;
}

.sair{
    background: $default-color;
    position: absolute;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1;
    opacity: 1;

    .exit-nu{
        width: auto;
        height: auto;
        display: block;
        margin: auto;
        transform: scale(0.5);
    }

    .creditos{
        max-width: 480px;
        text-align: center;
        margin: 1rem 3rem;
        color: #fff;
        &:after{
            content: '|';
            margin-left: 5px;
            opacity: 1;
            animation: pisca .7s infinite;
           }
    }
    @keyframes pisca{
        0%, 100%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
}