.whitescreen{
    background: white;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 1;
}

.invoice-view{
    >.invoice-header{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        .return{
            margin-left: 1rem;
            display: flex;
            align-items: center;
        }
        .search{
            margin-right: 1rem;
        }
    }

    .invoice-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: $font-secondary;
        >.value{
            margin-top: 2rem;
            font-size: 2rem;
            color: $money;
            >b{
                font-weight: bold;
            }
        }
        >.due-date{
            margin-top: 0.5rem;
            text-transform: uppercase;
            color: lightgray;
        }
        >.pay{
            margin-top: 1.5rem;
            border-radius: 2px;
            border: 1px solid purple;
            padding: 1rem 4rem;
            background-color: transparent;
            text-transform: uppercase;
            font-weight: bold;
            color: purple;
        }
    }

    .invoice-list{
        margin-top: 1rem;
        background: $white-dark;
        overflow-y: scroll;
        height: 62vh;
        &::-webkit-scrollbar {
            display: none;
        }
        .invoice-item{
            padding-top: 1.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .invoice-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                .item-title{
                    font-size: 0.9rem;
                    align-self: flex-start;
                }
                .item-desc{
                    font-size: 1.2rem;
                }
                .item-value{
                    align-self: flex-start;
                    font-size: 1.1rem;
                }
            }
            >.icon{
                margin-left: 1rem;
            }
            .item-date{
                margin-right: 1rem;
                font-size: 0.9rem;
                color: gray;
            }
        }
    }
}